<div class="span12">
	<h1>賴明姿的工作流程表</h1>
	<div class="projectlist">
		<div class="cmd">
			<%= link_to("建立新專案", new_project_path, :class => "btn btn-mini btn-primary pull-right") %>
		</div>
		<div class="projects">
		<% @projects.each do |project| %>
		<div>
			<%= project.title %>&nbsp;
			<div class="pull-right">
			<% if current_user && project.editable_by?(current_user) %>
			<%= link_to("Delete", project_path(project), :method => :delete, :class => "btn btn-mini", :confirm => "確定要刪除嗎?") %>
			<%= link_to("Edit", edit_project_path(project), :class => "btn btn-mini") %>
			<% end %>
			</div>
		</div>
		<div class="list">
			<div class="container">
			<ol class="progtrckr" data-progtrckr-steps="<%= project.steps.count %>">
			    <% project.steps.each do |step| 
			    %><li class="progtrckr-<%= step.finished ? 'done' : 'todo' %>" 
			    data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<%=step.memo%>" ><%= link_to(step.name, edit_project_step_path(project, step))%></li><!--
			 	--><% end %>
			</ol>
			</div>
		</div>
		<% end %>
		</div>
	</div>
</div>
<% content_for :javascripts do %>
<script type="text/javascript">
	$('.progtrckr li').popover();
</script>
<% end %>